*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: monospace;
    font-size: 14px;
    color: #c4c9d2;
    padding: 20px;
    background-color: #0d0e17;
}

.label-key {
    color: #498af2;
}

.label-key.noenum {
    opacity: 0.5;
}

.label-value.string {
    color: #15c999;
}

.label-value.number,
.label-value.boolean {
    color: #965cff;
}

.label-value.function {
    font-style: italic;
}

.label-value.function > span {
    color: #c96b15;
}

.tree {
    white-space: nowrap;
}

.tree[open] > .tree-body {
    border-left: 1px solid #333;
}

.tree-head {
    cursor: pointer;
    display: inline-block;
}

.tree-head::-webkit-details-marker {
    display: none;
}

.tree-head::before {
    content: "\25B8";
    display: inline-block;
    margin-right: 3px;
    transition: transform 0.2s;
}

.tree[open] > .tree-head::before {
    transform: rotate(90deg);
}

.tree-body {
    padding-left: 20px;
    margin-left: 10px;
}

.tree-child {
    white-space: nowrap;
    margin: 3px 0;
}

.type-pill {
    font-size: 0.8em;
    opacity: 0.7;
    margin-left: 8px;
}
